// google material icons

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



// custom config

.material-icons:before {
  position: relative;
}

.view-list:before {
  content: 'view_list';
}

.view-module:before {
  content: 'view_module';
}

.menu:before {
  content: 'menu';
}

.clear:before {
  content: 'clear';
}

.preview-page:before {
  content: 'arrow_back_ios';
}


// define how note-block's star mark look like
.star[data-marked=true]:after {
  content: 'star';
}
.star[data-marked=false]:after {
  content: 'star_border';
}