
// css reset 

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}
body {
  height: 100vh;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

//variables

$light-bg-color: #F4F6F3;
$light-header-color: #EFF4EC;
$light-button-color: #6A855A;
$light-text-color: rgba(0, 0, 0, 0.5);
$dark-text-color: #204326;

$menuBtn-color: rgba(0, 0, 0, 0.3);
$menuBtn-hover-color: rgba(0, 0, 0, 0.5);

$dark-btn-color: #6A855A;
$dark-btn-text: #FFFFFF;




//general config
@import '_fonts.scss';
@import '_icons.scss';

// component

.menu-btn {
  color: $menuBtn-color;
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      color: $menuBtn-hover-color;
    }
  }
}

.round-btn {
  width: 160px;
  height: 52px;
  border-radius: 26px;
  background-color: $dark-btn-color;
  color: $dark-btn-text;
  text-align: center;
  border: none;
}


// general layout

body {
  background-color: darken($light-bg-color, 10%);
  padding-top: 10vh;
}

#wrap {
  width: 375px;
  height: 667px;
  background-color: $light-bg-color;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#header {
  width: 100%;
  height: 60px;
  background-color: $light-header-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  a {
    width: 55px;
    height: 100%;
    line-height: 60px;
    text-align: center;
  }

  a.hambergur.menu {
    margin-right: auto;
  }
}



#main-content {
  padding-top: 34px;
  text-align: center;
  background-image: url('../../dist/image/bg-day.png');
  background-size: cover;
  height: calc(100% - 60px);
  position: relative;


  #content-header {
    color: $dark-text-color;
    margin-bottom: 14px;
  }

  #status {
    color: $light-text-color;
  }

  #add-note {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      }
    }
  }
  @import '_notes-wall.scss';
}


@import '_sidenav.scss';
@import '_note_index.scss';